In [49]:
# Import Libraries and Dependencies
import pandas as pd
import Resources

### 1. Combine and Clean the Data
#### Import CSVs

In [50]:
# Read the CSV files into DataFrames.
sales_2020 = pd.read_csv('Resources/athletic_sales_2020.csv')
sales_2021 = pd.read_csv('Resources/athletic_sales_2021.csv')

In [51]:
# Display the 2020 sales DataFrame
print(sales_2020.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [52]:
# Display the 2021 sales DataFrame
print(sales_2021.head())

    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [53]:
# Check the 2020 sales data types.
print(sales_2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [54]:
# Check the 2021 sales data types.
print(sales_2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [55]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales = pd.concat([sales_2020, sales_2021], ignore_index=True)
print(combined_sales)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [56]:
# Check if any values are null.
print(combined_sales.isnull().sum())

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [57]:
# Check the data type of each column
print(combined_sales.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [58]:
# Convert the "invoice_date" to a datetime datatype
combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'])
print(combined_sales)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732   2020-01-01  Northeast      New York
1     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3     Foot Locker      1185732   2020-01-01  Northeast      New York
4     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9639  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9640       Amazon      1185732   2021-12-31  Northeast         Maine
9641       Amazon      1185732   2021-12-31  Northeast         Maine
9642  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

C:\Users\billy\AppData\Local\Temp\ipykernel_14892\2543238495.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'])

In [59]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_sales.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [60]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
grouped_products_sold = combined_sales.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()
grouped_products_sold = grouped_products_sold.rename(columns={'units_sold': 'Total_Products_Sold'})


# Show the top 5 results.
print(grouped_products_sold.head())

    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

#### Using `pivot_table`

In [61]:
# Show the number products sold for region, state, and city.
pivot_products_sold = pd.pivot_table(combined_sales, values='units_sold', index=['region', 'state', 'city'], aggfunc='sum')


# Rename the "units_sold" column to "Total_Products_Sold"
pivot_products_sold = pivot_products_sold.rename(columns={'units_sold': 'Total_Products_Sold'})


# Show the top 5 results.
print(pivot_products_sold.head())

                               Total_Products_Sold
region  state    city
Midwest Illinois Chicago                     25407
        Indiana  Indianapolis                26332
        Iowa     Des Moines                  23446
        Kansas   Wichita                     29463
        Michigan Detroit                     50095

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [62]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_sales = combined_sales.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()
grouped_sales = grouped_sales.rename(columns={'total_sales': 'Total Sales'})


# Show the top 5 results.
print(grouped_sales.head())

    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

#### Using `pivot_table`

In [63]:
# Show the total sales for the products sold for each region, state, and city.
pivot_sales = pd.pivot_table(combined_sales, values='total_sales', index=['region', 'state', 'city'], aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"

pivot_sales = pivot_sales.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
print(pivot_sales.head())

                               Total Sales
region  state    city
Midwest Illinois Chicago           9797488
        Indiana  Indianapolis      8836198
        Iowa     Des Moines        7424011
        Kansas   Wichita           9972864
        Michigan Detroit          18625433

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [64]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
womens_footwear_sales = combined_sales[combined_sales['product'] == 'Women\'s Athletic Footwear']
grouped_footwear_sales = womens_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
grouped_footwear_sales = grouped_footwear_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

combined_sales
# Show the top 5 results.

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
9638,Foot Locker,1185732,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
9639,Foot Locker,1185732,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
9640,Amazon,1185732,2021-12-31,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
9641,Amazon,1185732,2021-12-31,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
9642,Foot Locker,1185732,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

In [65]:
combined_sales['product'].value_counts()

product
Men's Athletic Footwear      1610
Women's Apparel              1608
Women's Street Footwear      1608
Men's Street Footwear        1607
Men's Apparel                1606
Women's Athletic Footwear    1604
Name: count, dtype: int64

#### Using `pivot_table`

In [66]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_footwear_sales = pd.pivot_table(womens_footwear_sales, values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_footwear_sales = pivot_footwear_sales.rename(columns={'total_sales': 'Total Sales'})


# Show the top 5 results.
print(pivot_footwear_sales.head())

                                             Total Sales
retailer region    state         city
Amazon   Midwest   Ohio          Columbus        1885400
         Northeast Maine         Portland         697119
                   Massachusetts Boston           405484
                   New Hampshire Manchester      1070231
                   Vermont       Burlington      1447437

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [67]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_sales = combined_sales[combined_sales['product'] == 'Women\'s Athletic Footwear']
print(womens_footwear_sales)

         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9634  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9635       Amazon      1185732   2021-12-30  Northeast         Maine
9636       Amazon      1185732   2021-12-30  Northeast         Maine
9637  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [68]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
grouped_footwear_units_sold = womens_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
grouped_footwear_units_sold = grouped_footwear_units_sold.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})


# Show the top 5 results.
print(grouped_footwear_units_sold.head())

  retailer     region          state        city  Womens_Footwear_Units_Sold
0   Amazon    Midwest           Ohio    Columbus                        5801
1   Amazon  Northeast          Maine    Portland                        1841
2   Amazon  Northeast  Massachusetts      Boston                        1190
3   Amazon  Northeast  New Hampshire  Manchester                        3109
4   Amazon  Northeast        Vermont  Burlington                        4327

#### Using `pivot_table`

In [69]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_footwear_units_sold = pd.pivot_table(womens_footwear_sales, values='units_sold', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_footwear_units_sold = pivot_footwear_units_sold.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})


# Show the top 5 results.
print(pivot_footwear_units_sold.head())

                                             Womens_Footwear_Units_Sold
retailer region    state         city
Amazon   Midwest   Ohio          Columbus                          5801
         Northeast Maine         Portland                          1841
                   Massachusetts Boston                            1190
                   New Hampshire Manchester                        3109
                   Vermont       Burlington                        4327

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [70]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_by_date = pd.pivot_table(combined_sales, values='total_sales', index='invoice_date', aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_by_date = pivot_by_date.rename(columns={'total_sales': 'Total Sales'})


# Show the table.
print(pivot_by_date.head())

              Total Sales
invoice_date
2020-01-01         845141
2020-01-02         689410
2020-01-03         632573
2020-01-04         615080
2020-01-05         707829

In [71]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_by_date.resample('D').sum()


# Sort the resampled pivot table in descending order on "Total Sales".
sorted_daily_sales = daily_sales.sort_values(by='Total Sales', ascending=False)
print(sorted_daily_sales.head())

              Total Sales
invoice_date
2021-07-16       12261098
2021-12-16       10871121
2021-06-17       10239903
2021-08-17        9517031
2021-07-23        7689134

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [72]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_by_date.resample('W').sum()


# Sort the resampled pivot table in descending order on "Total Sales".
sorted_weekly_sales = weekly_sales.sort_values(by='Total Sales', ascending=False)
print(sorted_weekly_sales.head())

              Total Sales
invoice_date
2021-07-11       26271380
2021-07-18       24731702
2021-12-19       24698535
2021-12-12       23250286
2021-08-22       22225401